*{
    margin:0;
}

body{
    font-family: "Montserrat",sans-serif ;
    background-color: #f7fbfc;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #2b2e4a;
  border-width: 8px;
  width: 4%;
  margin: 2% auto;
}


/* -----------------------------Navbar -------------------------------------------*/


#navbar{
    padding: 0;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
}

.nav-link{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
  }

  .brand{
    font-size: 2.5rem;
    padding-left: 20px;
    font-family: "Ubuntu";
  }

  .link{
      font-size: 1rem;
      padding: 15px 10px 0 10px;
      font-family: "Montserrat",sans-serif ;
  }

/* -----------------------------Subscribe section -------------------------------------------*/

  .sub_image {
    height: 980px;
    width: 100%;
  }

    /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #194350;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  bottom: 350px;
  right: 200px;
  width: 280px;
  border-radius: 30px;
}

/* The popup form - hidden by default */
.form-popup {
  background-color: #00b4cf;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid black;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* --------------------------------------------Subscribe --------------------------------------------*/

.btn {
  border-radius: 20px;
}

/* --------------------------------------------Footer --------------------------------------------*/ 

 
.footer-distributed {
  background-color: #155263;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: ".";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 100%;
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}